html {
  display: block;
  font-family: Helvetica;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("pattern.jpeg");
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.brushes h2 {
  background-color: mediumspringgreen;
}

.frames h2 {
  background-color: lightcoral;
}

.paint h2 {
  background-color: skyblue;
}

p {
  font-size: 18px;
}

span{
  font-weight: bold;
  color: blue;
}